/**
* Team Adequate, CSC-450
* Global App Styling
*/
body {
	background-color: white;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 100%;
}
a {
	text-decoration: none;
}
/*
* Top-Navigation Styling:
*/
.topnav {
	display: grid;
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: white;
	width: 100%;
	height: 50px;
	grid-template-columns: minmax(max-content, 1fr) minmax(min-content, 600px) minmax(max-content, 1fr);
	grid-auto-rows: auto;
	grid-gap: 40px;
	align-items: center;
	text-align: center;
	border-bottom: #000000 1px solid;
	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
}
.topnav-left {
	grid-column: 1;
	text-align: left;
	margin-left: 4em;
}

.topnav-search {
	grid-column: 2;
	text-align: center;
}
.topnav-right {
	grid-column: 3;
	text-align: right;
	margin-right: 4em;
}
.topnav-left p {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 1.5px;
}
#menu-button {
	display: inline-block;
	font-size: 1.4em;
	padding: 0 2em 0 0;
	color: #5b6574;
	text-align: left;
}
#menu-button:hover {
	color: #007aff;
}
#logo-l {
	color: #007aff;
}
#logo-r {
	color: #ff6200;
}
.searchTerm {
    float: right;
    width: calc( 100% - 30px);
	height: 30px;
    border: 1px solid #efefef;
    padding: 5px;
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    outline: none;
    background: #efefef;
    color:#5b6574;
    font-size: 1.0em;
    text-indent: 10px;
}
.searchButton {
	float:left;
	margin-right: -1px;
    width: 30px;
    height: 30px;
    border: 1px solid #efefef;
    background: #efefef;
    color: #5b6574;
    text-align: center;
    border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
    cursor: pointer;
    font-size: 1.0em;
}
.lg-button {
	background-color: #007aff;
	border: #ffffff 2px solid;
	border-radius: 5px;
	color: #ffffff;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	font-size: 1.0em;
	letter-spacing: 1px;
	width: 130px;
}
.lg-button:hover {
	background-color: white;
	border: #007aff 2px solid;
	color: #007aff;
}
.topnav-right p {
	display: inline-block;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	color: #5b6574;
}
.profile-button {
	border: 1px solid white;
	background: white;
	color: #5b6574;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.3em;
	margin: 0 5px 0 10px;
}
.hidden {
	display:none;
}
#mobile-search {
	font-size: 1.4em;
	margin: 0 1em 0 0;
	padding: 0;
	color: #5b6574;
	text-align: right;
}
#hidden-menu-1 {
	display:none;
}
#hidden-menu-2 {
	display:none;
}



/**
* Content Area Styling:
*/
.content {
	display: grid;
	grid-template-columns: minmax(230px, 1fr) minmax(min-content, 800px) 1fr;
	grid-auto-rows: auto;
	grid-gap: 1em;
}

.sidemenu {
	grid-column: 1;
	width:200px;
}

.argument {
	grid-column: 2;
	margin-top: 55px;
}

.right-area {
	grid-column: 3;
}

/**
* Argument Area Syling:
*/

.threads-header {
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 1em;
	height: 40px;
}

.prof-header {
	margin: 0;
	padding: 2em;
}

.threads-header  h2 {
	color: #5b6574;
	font-size: 1.5em;
	float: left;
	margin: 0;
	padding: 0;
}
.prof-header  h2 {
	color: #5b6574;
	font-size: 1.5em;
	text-align: left;
	margin: 0;
	padding: 0;
}
.prof-header  h3 {
	color: #5b6574;
	font-size: 1.2em;
	text-align: left;
	margin: 4px 0 0 0;
	padding: 0;
}

.threads-header .lg-button {
	float: right;
	margin: 0;
}

.argument-header h2 {
	text-align: center;
	color: #5b6574;
	font-size: 24px;
}

.card-area {
	margin:0;
}

.card {
	border: #000000 1px solid;
	padding: 18px;
	margin-bottom: 1em;
	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
}
.agree-card {
	border-left: #007aff 3px solid;
}
.disagree-card {
	border-left: #ff6200 3px solid;
}
.neutral-card {
	border-left: #5b6574 3px solid;
}
.dispute-card {
	border-left: #9966ff 3px solid;
}

.tier {
	border-left: #444343 1px solid;
	padding-left: 18px;
}

/* Card Footer */
.card-footer  {
	display: grid;
	width: 100%;
	margin-top: 10px;
	grid-template-columns: auto auto min-content min-content;
	grid-gap: 0;
	align-items: center;
}

.footer-left {
	grid-column: 1;
	padding-top: 10px;
}

.footer-left form {
	margin: 0;
	padding: 0;
}

.tr-form {
	grid-column: 3;
	margin: 0;
	padding: 0;
}

.footer-right {
	grid-column: 4;
}

/* Buttons */
.foot-button {
	background-color: white;
	border-radius: 5px;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 1px 8px 1px 8px;
	margin: 0 4px 0 4px;
}
.ag-but {
	border: #007aff 2px solid;
	color: #007aff;
}
.di-but {
	border: #ff6200 2px solid;
	color: #ff6200;
}
.re-but {
	border: #00AB84 2px solid;
	color: #00AB84;
}
.tr-but {
	margin-right: 20px;
	padding: 2px 10px 2px 10px;
	border: black 1px solid;
	color: black;
	font-size: 0.8em;
	font-weight: 300;
}
.ag-but:hover {
	background-color: #007aff;
	color: white;
}
.ag-but-sel {
	border: #007aff 2px solid;
	background-color: #007aff;
	color: white;
}
.di-but:hover {
	background-color: #ff6200;
	color: white;
}
.di-but-sel {
	border: #ff6200 2px solid;
	background-color: #ff6200;
	color: white;
}
.re-but:hover, .re-but:focus, .re-but:visited {
	background-color:#00AB84;
	color: white;
}
.tr-but:hover {
	background-color: black;
	color: white;
}
.tr-but-sel {
	margin-right: 20px;
	padding: 2px 10px 2px 10px;
	border: black 1px solid;
	font-size: 0.8em;
	font-weight: 300;
	background-color: black;
	color: white;
}
.count {
	display: inline-block;
	font-size: 0.9em;
	font-weight: 700;
	margin: 0 4px 0 0;
	padding: 0;
}

/* Card Text: */
.card p {
	margin: 0;
	padding: 0;
}
.card-footer p {
	white-space: nowrap;
	color: #444343;
}
.card-body {
	font-size: 1.2em;
	color: black;
}
.card-datetime {
	font-size: 0.7em;
}
.card-author {
	font-size: 0.8em;
	color: #444343;
}

/* Ad Area */
.right-area img {
	margin: 100px 0 0 80px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 6px rgba(0,0,0,0.23);
}

/* Side Bar */
.side-bar {
	margin-top: 90px;
	height:100%;
	width:220px;
	position:fixed;
	left:0;
	background-color: white;
	overflow-x: hidden;
	text-align: center;
	color: #5b6574;
}
.side-bar a {
	text-decoration: none;
	color: #5b6574;
}
.menu-header-big {
	margin: 0 0 20px 0;
	padding: 4px 0 4px 18px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: left;
	width:80%;
	color: #5b6574;
	background-color: #efefef;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.menu-header-big i {
	padding-right: 8px;
}
.menu-header-big:hover {
	background-color: #00AB84;
	color:white;
}
.up-menu {
	margin-top: 30px;
	background-color: #efefef;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 4px 4px 8px 0;
	text-align: center;
}
.menu-header {
	margin: 0;
	padding: 4px 0 4px 16px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: left;
	width:100%;
	display:inline-block;
}
.mini-card {
	margin: 16px 0 0 0;
	padding: 0 12px 0 12px;
	border: transparent 3px solid;
}
.mini-card:hover {
	border: white 3px solid;
}
.mini-card .min-card-header {
	font-size: 0.85em;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mini-card .mini-card-text {
	font-size: 0.9em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mini-card .footer-left {
	margin: 2px 0 0 0;
	padding:0;
}
.mini-card .footer-left .count {
	padding: 0 0.8em 0 0.8em;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
.ags {
	color: #007aff;
}
.dis {
	color: #ff6200;
}
.rep {
	color: #00AB84;
}

/**
* Login Styling:
*/
.login {
	width: 400px;
	background-color: #ffffff;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
}
.login h1 {
	text-align: center;
	color: #5b6574;
	font-size: 1.8em;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #dee0e4;
}
.login form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.login form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #007aff;
	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
	width: 310px;
	height: 50px;
	border: 1px solid #dee0e4;
	margin-bottom: 20px;
	padding: 0 15px;
}
.login form input[type="submit"] {
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	background-color: #007aff;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #2868c7;
	transition: background-color 0.2s;
}

.register {
	width: 400px;
	background-color: #ffffff;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
}
.register h1 {
	text-align: center;
	color: #5b6574;
    font-size: 1.8em;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #dee0e4;
}
.register form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.register form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color:#007aff;
	color: #ffffff;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
	width: 310px;
	height: 50px;
	border: 1px solid #dee0e4;
	margin-bottom: 20px;
	padding: 0 15px;
}
.register form input[type="submit"] {
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	background-color: #007aff;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
	transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
	background-color: #007aff;
	transition: background-color 0.2s;
}

.register form .text {
	border: 1px solid #dee0e4;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	padding:4px;
	width:90%;
	height:100%;
	font-size: 1.4em;
	color: #5b6574;
}

.form-error {
	color: #e54b4b;
	align-items: center;
	text-align: center;
}

.form-message {
	color: #007aff;
	align-items: center;
	text-align: center;
}


.reply-area {
	margin-top: 1em;
	border-top: 1px solid black;
	width: 100%;
	padding:0;
}

.reply-area textarea {
	margin-top: 10px;
	resize: none;
	outline: none;
	width: 100%;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background: #f9f9f9;
	padding: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.reply-area textarea:focus {
	background: #fff;
}

.reply-area form {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 0 0 0;
	margin:0;
}

.reply-area input[type="submit"] {
	text-align: center;
	border: #00AB84 2px solid;
	border-radius: 5px;
	background-color: #00AB84;
	color: white;
	font-size: 1.2em;
	padding: 2px 30px 2px 30px;
	font-weight: bold;
}

.reply-area input[type="submit"]:focus:hover {
	background-color: white;
	color: #00AB84;
}

@media only screen and (max-width: 1280px) {
	body {
		font-size: 90%;
	}
	.topnav-left {
		margin-left: 2em;
	}
	.topnav-right {
		margin-right: 2em;
	}
	.content {
		display: grid;
		grid-template-columns: 200px 1fr minmax(min-content, 700px) 1fr;
		grid-auto-rows: auto;
		grid-gap: 1em;
	}
	.sidemenu {
		grid-column: 1;
	}
	.argument {
		grid-column: 3;
		margin-top: 55px;
	}
	.right-area {
		display:none;
	}
}

@media only screen and (max-width: 980px) {
	.topnav-left {
		margin-left: 1em;
	}
	.topnav-right {
		margin-right: 1em;
	}
	.content {
		display: grid;
		grid-template-columns: 1fr minmax(min-content, 600px) 1fr;
		grid-auto-rows: auto;
		grid-gap: 1em;
	}
	.sidemenu {
		display:none;
		width: 0;
	}
	.side-bar {
		margin-top: 50px;
		border-right: black 1px solid;
		box-shadow: 0 0 0 1000px rgba(0,0,0,.3);
		padding-top: 20px;
		width: 300px;
	}
	.menu-header-big {
		width:100%;
		border-radius: 0;
		text-align: center;
		margin:0 0 16px 0;
		padding: 4px 0 4px 0;
		font-size: 1.5em;
	}
	.menu-header {
		text-align: center;
		margin:8px 0 0 0;
		padding: 4px 0 4px 0;
		font-size: 1.5em;
	}
	.up-menu {
		width:100%;
		border-radius: 0;
	}
	.argument {
		grid-column: 2;
		margin-top: 55px;
	}
	.mini-card {
		font-size: 110%;
	}
}

@media only screen and (max-width: 700px) {
	body {
		font-size: 85%;
	}
	.side-bar {
		font-size: 100%;
	}
	.topnav-search {
		display: none;
	}
	.lg-button {
		display: none;
	}
	.hidden {
		display: block;
	}
	#hidden-menu-1 {
		display:block;
	}
	#hidden-menu-2 {
		display:block;
	}
}






/* END CSS*/
